In [1]:
import networkx as nx
import matplotlib.pyplot as plt
import pandas as pd
from operator import itemgetter

In [2]:
G = nx.read_graphml('london.graph.xml')

In [3]:
print(nx.info(G))

Graph with 401 nodes and 467 edges

C:\Users\ankur\AppData\Local\Temp\ipykernel_17128\2606185536.py:1: DeprecationWarning: info is deprecated and will be removed in version 3.0.

  print(nx.info(G))

In [4]:
list(G.nodes(data = True))[0]

('Wembley Park', {'coords': '(519316.5590174915, 186389.32981656672)'})

In [5]:
df = nx.to_pandas_edgelist(G)
df[0:10]

         source         target       length  flows     line_name
0  Wembley Park      Kingsbury  2916.771558  12356       Jubilee
1  Wembley Park        Neasden  2353.165938   6744       Jubilee
2  Wembley Park   Preston Road  1419.735166  36601  Metropolitan
3  Wembley Park  Finchley Road  7266.373927  55216  Metropolitan
4     Kingsbury     Queensbury  1245.995234   9419       Jubilee
5    Queensbury    Canons Park  1693.307343   6385       Jubilee
6   Canons Park       Stanmore  1419.669476   3624       Jubilee
7     Stratford       West Ham  1673.509515  91801       Jubilee
8     Stratford       Mile End  2805.001392  12010       Central
9     Stratford         Leyton  2131.342926  56082       Central

In [6]:
G_deg_1 = G.copy()
G_deg_2 = G.copy()

G_c_1 = G.copy()
G_c_2 = G.copy()

G_b_1 = G.copy()
G_b_2 = G.copy()

# Degree Centrality

In [7]:
deg_london =nx.degree_centrality(G_deg_1)
nx.set_node_attributes(G_deg_1,dict(deg_london),'degree')

In [8]:
df = pd.DataFrame()
df['station_name'] = G_deg_1.nodes()
df['degree'] = pd.Series(nx.get_node_attributes(G_deg_1, 'degree'))

df_sorted = df.sort_values(["degree"], ascending=False)
df_sorted = df_sorted.drop('station_name', axis=1)
df_sorted[0:10]

                          degree
Stratford                 0.0225
Bank and Monument         0.0200
King's Cross St. Pancras  0.0175
Baker Street              0.0175
Earl's Court              0.0150
Oxford Circus             0.0150
Liverpool Street          0.0150
Waterloo                  0.0150
Green Park                0.0150
Canning Town              0.0150

In [9]:
sorted_ten= list(df_sorted.index)[0:10]

In [10]:
def largest_component_ratio(graph):
    components = nx.connected_components(graph)
    largest = max(components, key=len)
    Largest_subgraph = graph.subgraph(largest)
    return (Largest_subgraph.number_of_nodes() / graph.number_of_nodes())

## Sequential

In [11]:
for station in sorted_ten:
    G_deg_1.remove_node(station)
    print (nx.number_connected_components(G_deg_1))
    print(largest_component_ratio(G_deg_1))

3
0.9475
3
0.9473684210526315
3
0.9472361809045227
4
0.9420654911838791
4
0.9419191919191919
5
0.9392405063291139
6
0.9263959390862944
6
0.926208651399491
6
0.9260204081632653
8
0.8925831202046036

## Non-Sequential

In [12]:
for i in range(10):
    G_deg_2.remove_node(list(df_sorted.index)[0])

    deg_london =nx.degree_centrality(G_deg_2)
    nx.set_node_attributes(G_deg_2,dict(deg_london),'degree')

    df = pd.DataFrame()
    df['station_name'] = G_deg_2.nodes()
    df['degree'] = pd.Series(nx.get_node_attributes(G_deg_2, 'degree'))

    df_sorted = df.sort_values(["degree"], ascending=False)
    df_sorted = df_sorted.drop('station_name', axis=1)
    print('                                                                                        ')
    print(str(i+1))
    print(df_sorted[0:10])
    print(nx.number_connected_components(G_deg_2))
    print(largest_component_ratio(G_deg_2))
    print('xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx')

1
                            degree
Bank and Monument         0.020050
King's Cross St. Pancras  0.017544
Baker Street              0.017544
Earl's Court              0.015038
Oxford Circus             0.015038
Canning Town              0.015038
Green Park                0.015038
Waterloo                  0.015038
Liverpool Street          0.012531
Euston                    0.012531
3
0.9475
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

2
                            degree
Baker Street              0.017588
King's Cross St. Pancras  0.017588
Oxford Circus             0.015075
Green Park                0.015075
Canning Town              0.015075
Earl's Court              0.015075
Turnham Green             0.012563
Euston                    0.012563
Waterloo                  0.012563
Willesden Junction        0.012563
3
0.9473684210526315
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

3
                            degree
King's Cross St. Pancras  0.017632
Earl's Court              0.015113
Oxford Circus             0.015113
Green Park                0.015113
Canning Town              0.015113
Willesden Junction        0.012594
Euston                    0.012594
Waterloo                  0.012594
Turnham Green             0.012594
West Ham                  0.012594
3
0.9472361809045227
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

4
                      degree
Earl's Court        0.015152
Green Park          0.015152
Oxford Circus       0.015152
Canning Town        0.015152
Turnham Green       0.012626
West Ham            0.012626
Willesden Junction  0.012626
Waterloo            0.012626
Hammersmith         0.010101
Piccadilly Circus   0.010101
4
0.9420654911838791
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

5
                      degree
Green Park          0.015190
Canning Town        0.015190
Oxford Circus       0.015190
Waterloo            0.012658
Willesden Junction  0.012658
Turnham Green       0.012658
West Ham            0.012658
Liverpool Street    0.010127
Hammersmith         0.010127
Holborn             0.010127
4
0.9419191919191919
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

6
                        degree
Canning Town          0.015228
Waterloo              0.012690
Oxford Circus         0.012690
West Ham              0.012690
Willesden Junction    0.012690
Turnham Green         0.012690
Blackhorse Road       0.010152
Tottenham Court Road  0.010152
Holborn               0.010152
Liverpool Street      0.010152
4
0.9417721518987342
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

7
                        degree
Willesden Junction    0.012723
Turnham Green         0.012723
Waterloo              0.012723
Oxford Circus         0.012723
Wembley Park          0.010178
Tottenham Court Road  0.010178
Kennington            0.010178
West Hampstead        0.010178
Stockwell             0.010178
Holborn               0.010178
6
0.9086294416243654
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

8
                     degree
Turnham Green      0.012755
Oxford Circus      0.012755
Waterloo           0.012755
Camden Town        0.010204
Blackhorse Road    0.010204
Acton Town         0.010204
Finsbury Park      0.010204
Notting Hill Gate  0.010204
Hammersmith        0.010204
Euston             0.010204
7
0.8753180661577609
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

9
                        degree
Oxford Circus         0.012788
Waterloo              0.012788
Wembley Park          0.010230
Camden Town           0.010230
Whitechapel           0.010230
Liverpool Street      0.010230
Shadwell              0.010230
Surrey Quays          0.010230
Holborn               0.010230
Tottenham Court Road  0.010230
8
0.8622448979591837
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

10
                     degree
Waterloo           0.012821
Wembley Park       0.010256
Camden Town        0.010256
Liverpool Street   0.010256
Holborn            0.010256
Whitechapel        0.010256
Shadwell           0.010256
Surrey Quays       0.010256
Notting Hill Gate  0.010256
Euston             0.010256
9
0.8593350383631714
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Closeness Centrality

In [13]:
clos=nx.closeness_centrality(G_c_1)
nx.set_node_attributes(G_c_1,clos,'closeness')

df = pd.DataFrame(index=G_c_1.nodes())
df['station_name'] = pd.Series(nx.get_node_attributes(G_c_1, 'station_name'))
df['closeness'] = pd.Series(nx.get_node_attributes(G_c_1, 'closeness'))

df_sorted = df.sort_values(["closeness"], ascending=False)
df_sorted = df_sorted.drop('station_name', axis=1)
df_sorted[0:10]

C:\Users\ankur\AppData\Local\Temp\ipykernel_17128\4015104876.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df['station_name'] = pd.Series(nx.get_node_attributes(G_c_1, 'station_name'))

                          closeness
Green Park                 0.114778
Bank and Monument          0.113572
King's Cross St. Pancras   0.113443
Westminster                0.112549
Waterloo                   0.112265
Oxford Circus              0.111204
Bond Street                0.110988
Farringdon                 0.110742
Angel                      0.110742
Moorgate                   0.110314

In [14]:
sorted_ten = list(df_sorted.index)[0:10]

## Sequential

In [15]:
for station in sorted_ten:
    G_c_1.remove_node(station)
    print (nx.number_connected_components(G_c_1))
    print(largest_component_ratio(G_c_1))

1
1.0
1
1.0
1
1.0
1
1.0
1
1.0
1
1.0
1
1.0
1
1.0
1
1.0
3
0.9948849104859335

## Non-Sequential

In [16]:
for i in range(10):
    G_c_2.remove_node(list(df_sorted.index)[0])

    clos=nx.closeness_centrality(G_c_2)
    nx.set_node_attributes(G_c_2,clos,'closeness')

    df = pd.DataFrame()
    df['station_name'] = G_c_2.nodes()
    df['closeness'] = pd.Series(nx.get_node_attributes(G_c_2, 'closeness'))

    df_sorted = df.sort_values(["closeness"], ascending=False)
    df_sorted = df_sorted.drop('station_name', axis=1)
    print('                                                                                        ')
    print(str(i+1))
    print(df_sorted[0:10])
    print (nx.number_connected_components(G_c_2))
    print(largest_component_ratio(G_c_2))
    print('xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx')

1
                          closeness
King's Cross St. Pancras   0.112363
Angel                      0.110221
Farringdon                 0.110221
Moorgate                   0.109615
Bank and Monument          0.109435
Barbican                   0.108897
Old Street                 0.108897
Liverpool Street           0.107984
Euston                     0.107576
Waterloo                   0.107143
1
1.0
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

2
                   closeness
Waterloo            0.104654
Bank and Monument   0.104489
Embankment          0.101868
Westminster         0.101350
Liverpool Street    0.101324
St. Paul's          0.099849
Charing Cross       0.098466
Moorgate            0.097933
Stratford           0.097549
Shadwell            0.097358
1
1.0
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

3
                      closeness
Bank and Monument      0.097423
St. Paul's             0.096126
Oxford Circus          0.095663
Chancery Lane          0.095525
Holborn                0.095113
Tottenham Court Road   0.095044
Liverpool Street       0.094682
Bond Street            0.094569
Regent's Park          0.093149
Baker Street           0.092844
1
1.0
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

4
                         closeness
West Hampstead            0.081734
Finchley Road & Frognal   0.080816
Hampstead Heath           0.080162
Gospel Oak                0.079742
Finchley Road             0.079662
Kensington                0.079518
West Brompton             0.079502
Brondesbury               0.079375
Shepherd's Bush           0.079295
Earl's Court              0.079248
1
1.0
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

5
                     closeness
Canada Water          0.075976
Surrey Quays          0.075540
Queens Road Peckham   0.075009
Peckham Rye           0.074782
West Brompton         0.074613
Denmark Hill          0.074556
Imperial Wharf        0.074500
Clapham Junction      0.074416
Wandsworth Road       0.074388
Clapham High Street   0.074332
1
1.0
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

6
                        closeness
Stratford                0.063732
Earl's Court             0.063483
Notting Hill Gate        0.063109
High Street Kensington   0.062253
Shepherd's Bush          0.062223
Kensington               0.061302
Bayswater                0.060809
Gloucester Road          0.060752
Holland Park             0.060551
Willesden Junction       0.060324
2
0.5721518987341773
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

7
                        closeness
Earl's Court             0.063645
Notting Hill Gate        0.063270
High Street Kensington   0.062411
Shepherd's Bush          0.062381
Kensington               0.061458
Bayswater                0.060964
Gloucester Road          0.060906
Holland Park             0.060705
Willesden Junction       0.060477
West Brompton            0.060392
4
0.5736040609137056
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

8
                    closeness
Shepherd's Bush      0.060434
Notting Hill Gate    0.060235
Holland Park         0.059925
Willesden Junction   0.059177
Bayswater            0.058288
Paddington           0.057866
Queensway            0.057658
Kensal Green         0.056838
Edgware Road         0.056687
Bond Street          0.056487
4
0.5725190839694656
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

9
                 closeness
Oxford Circus     0.050501
Warren Street     0.049899
Paddington        0.049719
Baker Street      0.049668
Euston            0.049362
Edgware Road      0.049337
Bond Street       0.049185
Regent's Park     0.048861
South Hampstead   0.048008
Warwick Avenue    0.047651
5
0.49744897959183676
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

10
                   closeness
Paddington          0.047189
Queen's Park        0.046957
Kilburn Park        0.046590
Maida Vale          0.046319
Warwick Avenue      0.046297
Kensal Green        0.045459
Kilburn High Road   0.045095
Edgware Road        0.045010
Bayswater           0.044904
Royal Oak           0.044798
5
0.4961636828644501
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Betweeness Centrality

In [17]:
bet_london_t=nx.betweenness_centrality(G_b_1, normalized=True)
# We can add these values to the nodes attributes:
nx.set_node_attributes(G_b_1,bet_london_t,'betweenness_t')

# To ataframe using the nodes as the index
df = pd.DataFrame(index=G_b_1.nodes())
df['station_name'] = pd.Series(nx.get_node_attributes(G_b_1, 'station_name'))
df['betweenness_t'] = pd.Series(nx.get_node_attributes(G_b_1, 'betweenness_t'))

df_sorted = df.sort_values(["betweenness_t"], ascending=False)
df_sorted = df_sorted.drop('station_name', axis=1)
df_sorted[0:10]

C:\Users\ankur\AppData\Local\Temp\ipykernel_17128\3388655365.py:7: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df['station_name'] = pd.Series(nx.get_node_attributes(G_b_1, 'station_name'))

                          betweenness_t
Stratford                      0.297846
Bank and Monument              0.290489
Liverpool Street               0.270807
King's Cross St. Pancras       0.255307
Waterloo                       0.243921
Green Park                     0.215835
Euston                         0.208324
Westminster                    0.203335
Baker Street                   0.191568
Finchley Road                  0.165085

In [18]:
sorted_ten= list(df_sorted.index)[0:10]

## Sequential

In [19]:
for station in sorted_ten:
    G_b_1.remove_node(station)
    print (nx.number_connected_components(G_b_1))
    print(largest_component_ratio(G_b_1))

3
0.9475
3
0.9473684210526315
3
0.9472361809045227
4
0.9345088161209067
4
0.9343434343434344
4
0.9341772151898734
5
0.8781725888324873
5
0.8778625954198473
6
0.8724489795918368
7
0.8670076726342711

## Non-Sequential

In [20]:
for i in range(10):
    G_b_2.remove_node(list(df_sorted.index)[0])

    bet_london_t=nx.betweenness_centrality(G_b_2, normalized=True)
    # We can add these values to the nodes attributes:
    nx.set_node_attributes(G_b_2,bet_london_t,'betweenness_t')

    df = pd.DataFrame()
    df['station_name'] = G_b_2.nodes()
    df['betweenness_t'] = pd.Series(nx.get_node_attributes(G_b_2, 'betweenness_t'))

    df_sorted = df.sort_values(["betweenness_t"], ascending=False)
    df_sorted = df_sorted.drop('station_name', axis=1)
    print('                                                                                        ')
    print(str(i+1))
    print(df_sorted[0:10])
    print (nx.number_connected_components(G_b_2))
    print(largest_component_ratio(G_b_2))
    print('xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx')

1
                          betweenness_t
King's Cross St. Pancras       0.247262
Bank and Monument              0.203901
Euston                         0.197493
Highbury & Islington           0.186195
Baker Street                   0.172310
Waterloo                       0.167415
Green Park                     0.160526
Finsbury Park                  0.154900
Finchley Road                  0.153403
Canada Water                   0.152583
3
0.9475
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

2
                    betweenness_t
Waterloo                 0.254180
Bank and Monument        0.242326
Green Park               0.230200
Westminster              0.217953
Finchley Road            0.182193
Baker Street             0.170352
West Hampstead           0.162842
Canada Water             0.156858
Willesden Junction       0.142845
Bond Street              0.139323
3
0.9473684210526315
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

3
                      betweenness_t
Bank and Monument          0.214651
Finchley Road              0.191529
Canada Water               0.182385
Oxford Circus              0.182237
West Hampstead             0.179122
Baker Street               0.170824
Holborn                    0.163805
Tottenham Court Road       0.160358
Chancery Lane              0.160332
St. Paul's                 0.160239
3
0.9472361809045227
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

4
                         betweenness_t
Canada Water                  0.244903
West Hampstead                0.234500
Finchley Road                 0.225894
Gospel Oak                    0.206679
Finchley Road & Frognal       0.206372
Hampstead Heath               0.205426
Baker Street                  0.183097
Canary Wharf                  0.175385
Willesden Junction            0.158765
Surrey Quays                  0.156046
3
0.947103274559194
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

5
                             betweenness_t
West Hampstead                    0.456831
Finchley Road & Frognal           0.427784
Gospel Oak                        0.427199
Hampstead Heath                   0.426717
Finchley Road                     0.320358
Highbury & Islington              0.275939
Kentish Town West                 0.262289
Camden Road                       0.260573
Caledonian Road & Barnsbury       0.259314
Baker Street                      0.251800
3
0.946969696969697
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

6
                    betweenness_t
Earl's Court             0.096182
Baker Street             0.087483
Willesden Junction       0.075457
Victoria                 0.074618
West Brompton            0.071208
Wembley Park             0.067984
Finchley Road            0.067758
Shepherd's Bush          0.066210
Euston                   0.066106
Green Park               0.060493
4
0.5746835443037974
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

7
                    betweenness_t
Shepherd's Bush          0.128852
Willesden Junction       0.103185
Baker Street             0.091497
Notting Hill Gate        0.086421
Holland Park             0.084128
Euston                   0.071801
Kensington               0.071610
West Brompton            0.071221
Wembley Park             0.070142
Finchley Road            0.068446
4
0.5736040609137056
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

8
                    betweenness_t
Euston                   0.087075
Willesden Junction       0.077825
Baker Street             0.077746
Oxford Circus            0.075064
Green Park               0.070801
Warren Street            0.069234
Queen's Park             0.069218
Kensal Green             0.066694
Wembley Park             0.060137
Turnham Green            0.060065
5
0.49872773536895676
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

9
               betweenness_t
Baker Street        0.098437
Paddington          0.075592
Bond Street         0.068077
Edgware Road        0.066341
Green Park          0.062454
Acton Town          0.050712
Wembley Park        0.050587
Turnham Green       0.048652
Victoria            0.048180
West Ham            0.046402
6
0.4413265306122449
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

10
                   betweenness_t
Acton Town              0.096948
Turnham Green           0.093870
Paddington              0.089025
Ealing Common           0.087535
Notting Hill Gate       0.084332
Bayswater               0.084161
Hammersmith             0.069251
North Ealing            0.068025
Park Royal              0.066838
Goldhawk Road           0.065625
7
0.43478260869565216
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx