In [1]:
import networkx as nx
import matplotlib.pyplot as plt
import pandas as pd
from operator import itemgetter

In [2]:
G = nx.read_graphml('london.graph.xml')

In [3]:
print(nx.info(G))

Graph with 401 nodes and 467 edges

C:\Users\ankur\AppData\Local\Temp\ipykernel_16780\2606185536.py:1: DeprecationWarning: info is deprecated and will be removed in version 3.0.

  print(nx.info(G))

In [4]:
list(G.nodes(data = True))[0]

('Wembley Park', {'coords': '(519316.5590174915, 186389.32981656672)'})

In [5]:
df = nx.to_pandas_edgelist(G)
df[0:10]

         source         target       length     line_name  flows
0  Wembley Park      Kingsbury  2916.771558       Jubilee  12356
1  Wembley Park        Neasden  2353.165938       Jubilee   6744
2  Wembley Park   Preston Road  1419.735166  Metropolitan  36601
3  Wembley Park  Finchley Road  7266.373927  Metropolitan  55216
4     Kingsbury     Queensbury  1245.995234       Jubilee   9419
5    Queensbury    Canons Park  1693.307343       Jubilee   6385
6   Canons Park       Stanmore  1419.669476       Jubilee   3624
7     Stratford       West Ham  1673.509515       Jubilee  91801
8     Stratford       Mile End  2805.001392       Central  12010
9     Stratford         Leyton  2131.342926       Central  56082

In [6]:
between_w = nx.betweenness_centrality(G, normalized=True, weight='flows')
nx.set_node_attributes(G, between_w, 'between_w')

In [7]:
# To dataframe using the nodes as the index
df = pd.DataFrame(index=G.nodes())
df['station_name'] = pd.Series(nx.get_node_attributes(G, 'station_name'))
df['between_w'] = pd.Series(nx.get_node_attributes(G, 'between_w'))

df_sorted = df.sort_values(["between_w"], ascending=False)
df_sorted = df_sorted.drop('station_name', axis=1)
df_sorted[0:10]

C:\Users\ankur\AppData\Local\Temp\ipykernel_16780\2141803784.py:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df['station_name'] = pd.Series(nx.get_node_attributes(G, 'station_name'))

                         between_w
West Hampstead            0.355909
Gospel Oak                0.275025
Finchley Road & Frognal   0.268747
Hampstead Heath           0.267820
Willesden Junction        0.240182
Leicester Square          0.214258
Brondesbury               0.207093
Brondesbury Park          0.205658
Kensal Rise               0.204258
Blackhorse Road           0.201651

In [8]:
print(df_sorted[0:10])

                         between_w
West Hampstead            0.355909
Gospel Oak                0.275025
Finchley Road & Frognal   0.268747
Hampstead Heath           0.267820
Willesden Junction        0.240182
Leicester Square          0.214258
Brondesbury               0.207093
Brondesbury Park          0.205658
Kensal Rise               0.204258
Blackhorse Road           0.201651

In [9]:
G = nx.read_graphml('london.graph.xml')
G1 = G.copy()
G2 = G.copy()

In [10]:
df = nx.to_pandas_edgelist(G1)
originaldf = df.copy()
df[0:10]

         source         target       length     line_name  flows
0  Wembley Park      Kingsbury  2916.771558       Jubilee  12356
1  Wembley Park        Neasden  2353.165938       Jubilee   6744
2  Wembley Park   Preston Road  1419.735166  Metropolitan  36601
3  Wembley Park  Finchley Road  7266.373927  Metropolitan  55216
4     Kingsbury     Queensbury  1245.995234       Jubilee   9419
5    Queensbury    Canons Park  1693.307343       Jubilee   6385
6   Canons Park       Stanmore  1419.669476       Jubilee   3624
7     Stratford       West Ham  1673.509515       Jubilee  91801
8     Stratford       Mile End  2805.001392       Central  12010
9     Stratford         Leyton  2131.342926       Central  56082

In [11]:
bet_london_t=nx.betweenness_centrality(G1, normalized=True)
# We can add these values to the nodes attributes:
nx.set_node_attributes(G1,bet_london_t, 'betweenness_t')

# To ataframe using the nodes as the index
df = pd.DataFrame(index=G1.nodes())
df['station_name'] = pd.Series(nx.get_node_attributes(G1, 'station_name'))
df['betweenness_t'] = pd.Series(nx.get_node_attributes(G1, 'betweenness_t'))

df_sorted = df.sort_values(["betweenness_t"], ascending=False)
df_sorted = df_sorted.drop('station_name', axis=1)
df_sorted[0:10]

C:\Users\ankur\AppData\Local\Temp\ipykernel_16780\388043564.py:7: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df['station_name'] = pd.Series(nx.get_node_attributes(G1, 'station_name'))

                          betweenness_t
Stratford                      0.297846
Bank and Monument              0.290489
Liverpool Street               0.270807
King's Cross St. Pancras       0.255307
Waterloo                       0.243921
Green Park                     0.215835
Euston                         0.208324
Westminster                    0.203335
Baker Street                   0.191568
Finchley Road                  0.165085

In [12]:
sorted_ten = list(df_sorted.index)[0:10]

In [13]:
station = sorted_ten[0]

In [14]:
def largest_component_weight_ratio(graph):
    df = nx.to_pandas_edgelist(graph)
    total_flows = df['flows'].sum()
    
    components = nx.connected_components(graph)
    largest = max(components, key=len)
    Largest_subgraph = graph.subgraph(largest)
    df_subgraph = nx.to_pandas_edgelist(Largest_subgraph)
    largest_subgraph_flows = df_subgraph['flows'].sum()
    return (largest_subgraph_flows / total_flows)

In [15]:
G1.remove_node(station)
print(nx.number_connected_components(G1))
print(largest_component_weight_ratio(G1))

3
0.9764354734951475

In [16]:
df = nx.to_pandas_edgelist(G2)
df[0:10]

         source         target       length     line_name  flows
0  Wembley Park      Kingsbury  2916.771558       Jubilee  12356
1  Wembley Park        Neasden  2353.165938       Jubilee   6744
2  Wembley Park   Preston Road  1419.735166  Metropolitan  36601
3  Wembley Park  Finchley Road  7266.373927  Metropolitan  55216
4     Kingsbury     Queensbury  1245.995234       Jubilee   9419
5    Queensbury    Canons Park  1693.307343       Jubilee   6385
6   Canons Park       Stanmore  1419.669476       Jubilee   3624
7     Stratford       West Ham  1673.509515       Jubilee  91801
8     Stratford       Mile End  2805.001392       Central  12010
9     Stratford         Leyton  2131.342926       Central  56082

In [17]:
between_w = nx.betweenness_centrality(G2, weight='flows', normalized=True)
nx.set_node_attributes(G2, between_w, 'between_w')

df = pd.DataFrame(index=G2.nodes())
df['station_name'] = pd.Series(nx.get_node_attributes(G2, 'station_name'))
df['between_w'] = pd.Series(nx.get_node_attributes(G2, 'between_w'))

df_sorted = df.sort_values(["between_w"], ascending=False)
df_sorted = df_sorted.drop('station_name', axis=1)
df_sorted[0:10]

C:\Users\ankur\AppData\Local\Temp\ipykernel_16780\3783939136.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df['station_name'] = pd.Series(nx.get_node_attributes(G2, 'station_name'))

                         between_w
West Hampstead            0.355909
Gospel Oak                0.275025
Finchley Road & Frognal   0.268747
Hampstead Heath           0.267820
Willesden Junction        0.240182
Leicester Square          0.214258
Brondesbury               0.207093
Brondesbury Park          0.205658
Kensal Rise               0.204258
Blackhorse Road           0.201651

In [18]:
sorted_ten = list(df_sorted.index)[0:10]

In [19]:
station = sorted_ten[0]

In [20]:
G2.remove_node(station)
print(nx.number_connected_components(G2))
print(largest_component_weight_ratio(G2))

1
1.0